---
// Import header and footer to each page making it easier for the user to navigate between each page.
import Mainlayout from "../layouts/secondary-header.astro";

// Sets the company name.
let companyname = 'Whispering Woods';
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta Tags. -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Title in the tab bar. -->
        <title>{companyname} - About</title>

        <!-- Icon image to each page -->
        <link rel="icon" type="image/x-icon" href="/images/logos/CroppedLogo2Black.png">
    </head>
    <body>

        <!-- Import header and footer to each page making it easier for the user to navigate between each page. -->
        <Mainlayout>

            <div class="container">
                <br>

                <h1>More Information on {companyname}!</h1>

                <hr>

                <p><b>Address:</b> 3001 Macineery Dr, Council Bluffs, IA 51501</p>
                <p><b>Phone:</b> (712) 366-4653</p>

                <br>

                <p><b>Hours:</b></p>

                <hr>

                <p><b>Sunday:</b></p>
                <p><b>Monday:</b></p>
                <p><b>Tuesday:</b></p>
                <p><b>Wednesday:</b></p>
                <p><b>Thursday:</b></p>
                <p><b>Friday:</b></p>
                <p><b>Saturday:</b></p>

                <br>

                <p><b><i>* Hours may very between the months of October through April*</i></b></p>

                <!-- TODO: Talk to Wyatt, Tony and Davis about what information wants to be put here. -->
            </div>

        </Mainlayout>

    </body>
</html>