---
// Import header and footer to each page making it easier for the user to navigate between each page.
import Mainlayout from "../layouts/mainlayout.astro";
// Imports Carousel from PhotoSlider. Allows users to look at pictures when entering each page.
import PhotoSlider from "../components/photo-slider.astro";

// Adds view transistion to and between each page.
import { ViewTransitions } from "astro:transitions";

// Sets the company name.
let companyname = 'The Woods';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- TODO: Add Icon image to each page -->

    <title>{companyname} - Course Overview</title>
    <ViewTransitions />
</head>
<body>

    <Mainlayout>

        <PhotoSlider></PhotoSlider>

        <div class="container">
            <br>
            <h1>Course Overview:</h1>

            <hr>

            <!-- TODO: Talk to Wyatt, Tony and Davis about what information wants to be put here. -->
            <p>A course overview is comming soon.</p>
        </div>

    </Mainlayout>
    
  
</body>
</html>