---
// Import header and footer to each page making it easier for the user to navigate between each page.
import HomePageLayout from "../layouts/homepagelayout.astro";
// Imports the introduction video in between the main layout.
import IntroductionVideo from "../components/introductionvideo.astro";

// Adds view transistion to and between each page.
import { ViewTransitions } from "astro:transitions";

// Sets the company name.
let companyname = 'Whispering Woods';
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{companyname} - Home</title>

        <!-- Icon image to each page -->
        <link rel="icon" type="image/x-icon" href="/images/CroppedLogo2Black.png">

        <ViewTransitions />
    </head>
    <body>

        <HomePageLayout>
        
            <!-- Imports introduction video inbetween the mainlayout. -->
            <IntroductionVideo></IntroductionVideo>
            
        </HomePageLayout>
    
    </body>
</html>