---
// Sets the company name.
let companyname = 'Whispering Woods';
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta Tags. -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <style>
    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        margin-bottom: 100px; 
        position: relative;
        overflow: hidden;
        min-height: 80vh;
    }
    h1 {
        letter-spacing: 5px;
    }
    hr {
        border-width: 2px;
        color: white;
    }
    h1 {
        font-weight: bold;
        font-size: 50px;
        font-family: 'Cedarville Cursive', cursive;
    }
    .video-bg {
        width: 100%;
        object-fit: cover; // use "cover" to avoid distortion
        position: fixed;
        position: fixed;
        z-index: -1; 
        filter: brightness(50%);
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
    }
    </style>
    <body>

        <!-- Where first impressions are made. -->
        <div class="hero">
            <div class="container">
                <div class="row">

                    <!-- Text in the center of the page. -->
                    <img src="/images/logos/WordLogo.png" alt="Logo">

                    <div class="col-sm-12">
                        <hr>
                    </div>

                    <!-- Button that links user to the foreUP tee-sheet to signup for tee-times. -->
                    <div class="col-12">
                        <a class="nav-link" href="https://foreupsoftware.com/index.php/booking/22289/10326#teetimes">
                            <button type="button" class="btn btn-outline-light align-center">
                                Book a Tee Time
                            </button>
                        </a>
                
                    </div>

                </div>
            </div>

            <video playsinline autoplay loop muted class="video-bg">
                <source src="/videos/introvideo.mp4" type="video/mp4">
            </video>

        </div>
        
    </body>
</html>