<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    /* Custom styles for the toast */
    .toast-container {
      position: fixed;
      bottom: 10px;
      right: 10px;
      width: 300px; /* Adjust as needed */
      border-radius: 5px;
      display: none;
      color: black;
    }

    .close-btn {
      cursor: pointer;
      float: right;
      font-weight: bold;
    }
    img {
        padding-right: 10px
    }
  </style>
</head>
<body>

  <!-- Custom Toast -->
  <div class="toast-container" id="toastPlacement">
    <div class="toast fade show">
      <div class="toast-header">
        <img src="/images/logos/CroppedLogo2Black.png" width="12%">
        <strong class="me-auto">Notification</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body bg-light">
        Welcome to a new era. Follow us on Facebook, Instagram, and X.
      </div>
    </div>
  </div>

  <script>
    // Trigger the toast when the page is loaded
    document.addEventListener('DOMContentLoaded', function () {
      var toastContainer = document.getElementById('toastPlacement');
      toastContainer.style.display = 'block';
    });

    // Function to close the toast
    function closeToast() {
      var toastContainer = document.getElementById('toastPlacement');
      toastContainer.style.display = 'none';
    }
  </script>
</body>
</html>
