---
// Sets the company name.
let companyname = 'Whispering Woods';
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta Tags. -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Imports Font Awesome Icons into webpage to allow different icons to be pulled. -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>

    <style>
        a {
                text-decoration: none;
                color: black;
            }
            hr {
                border-width: 2px;
            }
            .icon-flex, .icon-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .icon-wrapper {
                border-radius: 50%;
                overflow: hidden;
                margin: 5px;
                font-size: 5rem;
                width: 40px;
                height: 40px;
                font-size: 25px;
                background-color: black;
            }
            .icon-wrapper .bi {
                color: white;
            }

            .fa {
                padding: 20px;
                font-size: 30px;
                width: 30px;
                text-align: center;
                text-decoration: none;
                border-radius: 50%;
            }
            .fa:hover {
                opacity: 0.7;
            }
            
    </style>

    <body>
        <!-- Footer at the bottom of every page. -->
        <footer>
            <div class="bg-light">
                <br>
                <div class="container">
                    <div class="row">

                        <div class="col-6 col-md-2 mb-3">
                            <h5>Memberships:</h5>
                            <hr>
                            <ul class="nav flex-column">
                                <li class="nav-item mb-2"><a href="/become-a-member" class="nav-link p-0 text-muted">Become a Member</a></li>
                                <li class="nav-item mb-2"><a href="/member-benefits" class="nav-link p-0 text-muted">Member Benefits</a></li>
                            </ul>
                        </div>

                        <!-- First section in the footer. -->
                        <div class="col-6 col-md-2 mb-3">
                            <h5>Golf Course:</h5>
                            <hr>
                            <ul class="nav flex-column">
                                <li class="nav-item mb-2"><a href="/memberships" class="nav-link p-0 text-muted">Membership</a></li>
                                <li class="nav-item mb-2"><a href="/course-rates" class="nav-link p-0 text-muted">Rates</a></li>
                                <li class="nav-item mb-2"><a href="/course-overview" class="nav-link p-0 text-muted">Course Overview</a></li>
                                <li class="nav-item mb-2"><a href="/etiquette" class="nav-link p-0 text-muted">Etiquette</a></li>
                                <li class="nav-item mb-2"><a href="/management-team" class="nav-link p-0 text-muted">Management Team</a></li>
                            </ul>
                        </div>
            
                        <!-- Second section in the footer. -->
                        <div class="col-6 col-md-2 mb-3">
                            <h5>Events:</h5>
                            <hr>
                            <ul class="nav flex-column">
                                <li class="nav-item mb-2"><a href="/tournament" class="nav-link p-0 text-muted">Tournaments</a></li>
                                <li class="nav-item mb-2"><a href="/leagues" class="nav-link p-0 text-muted">Leagues</a></li>
                            </ul>
                        </div>

                        <!-- Third section in the footer. -->
                        <div class="col-6 col-md-2 mb-3">
                            <h5>Information:</h5>
                            <hr>
                            <ul class="nav flex-column">
                                <li class="nav-item mb-2"><a href="/employment-opportunities" class="nav-link p-0 text-muted">Employment Opportunities</a></li>
                                <li class="nav-item mb-2"><a href="direction-hours" class="nav-link p-0 text-muted">Directions & Hours</a></li>
                            </ul>
                        </div>
            
                    </div>
                </div>

                <!-- Social media and extra information. -->
                <div class="container">
                    <div class="row">
                        <hr>
                        <div class="d-flex flex-column flex-sm-row justify-content-between">
                            <div class="col-sm-6">
                                <p>Designed by Taylor Johnson | Powered by <a href="https://www.foreupgolf.com/"><u>foreUP</u>.</a></p>
                                <p>{companyname} | Council Bluffs, Iowa.</p>
                            </div>

                            <div class="d-flex flex-row bd-highlight">
                                <div class="icon-flex">
                                    <div class="icon-wrapper instagram">
                                        <div class="p-2 bd-highlight"><a href="/"><i class="bi bi-instagram" style="font-size: 25px;"></i></a></div>
                                    </div>
                                    <div class="icon-wrapper">
                                        <div class="p-2 bd-highlight"><a href="/"><i class="bi bi-twitter-x" style="font-size: 25px;"></i></a></div>
                                    </div>
                                    <div class="icon-wrapper">
                                        <div class="p-2 bd-highlight"><a href="/"><i class="bi bi-facebook" style="font-size: 25px;"></i></a></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <br>

            </div>
        </footer>
    </body>
</html>